<% include partials/header %>
  </head>

  <body>
    <% include partials/nav %>

      <div class="background-image">
        <div class="about-text">
          <h2 align="center" style="font-size:40px; color:black;"> <b>ABOUT US </b></h1>
            <h3 style="font-size:30px">Giving women the power to stand up for themselves</h3>
            <p align="center" style="color:black;font-size:20px;">So, we've all been in these uncomfortable situations in the workplace. All the "You should smile more!", "Ooo, she's a piece of work", "I think what she's *actually* trying to say….", "Is it that time of the month?" - unfortunately, these
              situations are still extremely relatable to women in the workplace. At times like this, we cannot always stand up for ourselves. What if we say too much? What if we come off as overeating? What will happen to our jobs after that? Our mission
              is to allow women to practice standing up for themselves. We hope that by practicing in simulated situations on CallOut, you will be able to say "I can do this, I've done this a hundred times by now", and choose your own way to confidently
              say what you think and ask for what you want.</p>
            <p align="center" style="color:grey;font-size:20px;">On another note, we would like to make a disclaimer. We do NOT wish to dehumanize and stereotype men as sexist. Doing so would be a great disservice those who truly respect, support, and protect women. We are incredibly grateful for those
              who have supported us throughout this journey, and look forward to building services to also help men practice standing up for themselves.</p>
            <p align="center" style="color:black;font-size:20px;">If you would like to learn more about standing up for yourself, check out <a href="https://www.forbes.com/sites/kareanderson/2013/02/15/sandbergs-lean-in-lessons-make-a-difference-for-yourself-and-others/#3219d9511db6">this page</a>. If you
              would like to view the Sexual Harassment policy, click <a href="https://www.state.gov/s/ocr/c14800.htm">here</a></p>

        </div>

  </body>

  </html>