<% include partials/header %>
<style>
  .background-image{
    background-image: url("/img/bg.jpg");
  }
  
</style>
</head>

<body>
  
    
  <% include partials/nav %>
  
  <div class="background-image">
  <div class="all-text">
    <h1 style="font-size:50px"><b>THE CALLOUT</b></h1>
    <h3>Giving you the confidence to stand up and call them out.</h3>
    <button>
      <a href="My Scenarios Page Link">
       <h3 style="font-size:20px">
         <a href="scenarios">Get Started</a>
       </h3>
      </a>
    </button>
    </br>
      <div class="footer"><a href="http://hackxx.io">Made for HackXX 2019</a></p>
  </div>
    
</div>
        
 
  </div>

</body>

</html>