
  <script>
    var vidcall = document.getElementById("myVideo");

    function playVid() {
      vidcall.play();
    }
  </script>
<% include partials/header %>
</head>

<body>
 <% include partials/nav %>
        
<div class="background-image">
  <div class="all-text">
    <h1 style="font-size:40px; color:black;"> <b>BOSS TALK </b></h1>
    <p align="center" style="color:black;font-size:150%;">Description: You are about to receive a call from your boss to talk about the upcoming business trip. You would appreciate his advice, but… His advice does not seem very helpful or encouraging. What will you do?</p>
    <button align="center">
      <a href="My Scenarios Page Link">
        <a href="call2"> <h3>Start Call</h3></a>
      </a>
    </button>
    </br>
  </div>
    
</div>
        
 
  </div>

</body>

</html>