<% include partials/header %>
<style>
  .background-image{
    background-image: url("/img/scenes.jpg");
  }
</style>
</head>

<body>
 <% include partials/nav %>
  
 
  
  
 <div class="background-image mygrid-wrapper-div">  
 <h2 class="text-center" style="font:Arial; font-size:40px; color:black"> <b> MY SCENARIOS </b> </h2>
  
  
        <table class="table">
            <thead>
                <th>Scenario 1</th>
                <th>Scenario 2</th>
                <th>Scenario 3</th>
                <th>Scenario 4</th>
                <th>Scenario 5</th>

            </thead>
            <tbody>
            <tr>
                <td><a href="scenario1"><img src="/img/scenario1.png" width=500px></a></td>
                <td><a href="scenario2"><img src="/img/scenario2.png" width=500px></a></td>
                <td><img src="/img/scenario1.png" width=500px></td>
                <td><img src="/img/scenario1.png" width=500px></td> 
                <td><img src="/img/scenario1.png" width=500px></td>

               
            </tr>
            <tr>
                <td>Co-Worker Talk</td>
                <td>Boss Talk</td>
                <td>Coming soon</td>
                <td>Coming soon</td>
                <td>Coming soon</td>
                <td>Coming soon</td>
                <td>Coming soon</td>
                <td>Coming soon</td>
               
            </tr>
            </tbody>
       </table>
   </div> <!-- /container -->

</div>
</body>

</html>